<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
    package="com.pukulab.puku0x.gscalendar" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" tools:node="remove"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="remove"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >

        <activity
            android:name="com.pukulab.puku0x.gscalendar.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pukulab.puku0x.gscalendar.DetailActivity"
            android:label="@string/title_activity_detail"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.pukulab.puku0x.gscalendar.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.pukulab.puku0x.gscalendar.ScheduleActivity"
            android:label="@string/title_activity_schedule"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.pukulab.puku0x.gscalendar.UserListActivity"
            android:label="@string/title_activity_member_list"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.pukulab.puku0x.gscalendar.EditActivity"
            android:label="@string/title_activity_detail"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.pukulab.puku0x.gscalendar.CalendarActivity"
            android:label="@string/title_activity_calendar"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
